{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | TFS Volunteer Roster{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="/admin/">
        TFS Volunteer Roster administration
    </a></h1>
    <div style="margin-left:8px"><p><a href="/" class="view-website">View website</a></p></div>
{% endblock %}

{% block nav-global %}{% endblock %}
