table[tfs-schedule] {
	table-layout: fixed;

	.person {
		width: 150px;
		white-space: nowrap;
		.pull-right {
			margin-right: -1.5em;
		}
	}
	.table-fix { position: relative; }
	.contact-details {
		padding: 0.2rem 0.5rem;
		display: block;
		position: absolute;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
		left: -1px;
		top: 100%;
		width: 10rem;
		background-color: white;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
		border: 1px solid #ccc;
		font-weight: normal;
		pointer-events: none;

		.oldie & { display: none; }
	}
	th:hover .contact-details {
		display: block;
		opacity: 1;
		pointer-events: auto;
	}

	.contact-details dl {
		margin: 0px;
	}
	th[tfs-schedule~="person"] {
		text-align: left;
	}

	th[tfs-schedule~="shift"], [tfs-availability] {
		$width: 7rem;
		width: $width;
		max-width: $width;
		min-width: $width;
		overflow: hidden;
		white-space: nowrap;
		span {
			text-overflow: clip;
			overflow: hidden;
		}
	}
	colgroup[tfs-schedule="day"] {
		border-left: 1px solid map-get($neutral, border);
		border-right: 1px solid map-get($neutral, border);
	}

	[tfs-status~="unknown"] {
		background-color: map-get($neutral, active);
	}
	[tfs-status~="unavailable"] {
		background-color: map-get($evil, base);
	}
	[tfs-status~="rostered"] {
		background-color: map-get($primary, base);
	}

	[tfs-availability] {
		cursor: pointer;
	}
	[tfs-status~="available"] {
		&[tfs-availability~="warn"] {
			background-color: map-get($warn, base);
		}
		&[tfs-availability~="good"] {
			background-color: map-get($good, base);
		}
	}

}
