{% extends "people/station_base.html" %}

{% load schedule_tags people_tags media_tags common_tags %}

{% block title %}View roster for {{ station.name }} | {{ week_start|date:"l, d/m/Y" }} - {{ week_end|date:"l, d/m/Y" }}{% endblock %}

{% block media %}
	{% add_js "lib/bootstrap/js/bootstrap.js" %}
	{{ block.super }}
{% endblock %}

{% block page-header %}
	{{ block.super }}
	<h2>Schedule for {{ week_start }} - {{ week_end }}</h2>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">Dashboard</a></li>
<li><a href="{% url "station-dashboard" station_pk=station.pk %}">{{ station.name }}</a></li>
<li><a href="{% url "view-schedule" station_pk=station.pk %}">View schedule</a></li>
{% endblock %}

{% block content_station %}

<nav tfs-pager>
	<a href="?week_start={{ previous_week.isoformat }}">&larr; {{ previous_week }}</a> /
	<a href="?week_start={{ next_week.isoformat }}">{{ next_week }} &rarr;</a>
</nav>

<table id="station-schedule" table tfs-schedule>
	<colgroup tfs-schedule="people"></colgroup>
	{% for date in week_range %}
	<colgroup tfs-schedule="day" span="{{ shifts|length }}"></colgroup>
	{% endfor %}
	<thead>
		<tr>
			<th rowspan="2" class="person">Person</th>
			{% for date in week_range %}
				<th tfs-schedule="day" colspan='{{ shifts|length }}'>{{ date|date:"D, jS M" }}</th>
			{% endfor %}
		</tr>
		<tr>
			{% for date in week_range %}
				{% for shift in shifts %}
                    <th tfs-schedule="shift"><span>{{ shift }}</span></th>
				{% endfor %}
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% schedule station week_range shifts %}
		<tr data-person-id="{{ person.id }}">
			<th rowspan="2" tfs-schedule="person"><div class="table-fix">
				{{ person.short_name }}<br>
				{% qualification_badges person.qualifications.all %}

				<div class="contact-details">
					<a href="{% url "set-schedule-for-person" station_pk=station.pk person_pk=person.pk %}" target="_blank">Edit availability</a>
					<dl>
						{% for number in person.phone_numbers.all %}
							<dt>{{ number.type }}</dt>
							<dd>{{ number.number }}</dd>
						{% endfor %}
					</dl>
				</div>
			</div></th>
			{% schedulerow %}
				{% scheduleday %}
					{% if day %}
						{% include "schedules/availability/bubble.html" %}
					{% else %}
						<td data-shift="{{ shift }}" rowspan="2" tfs-status='unknown'></td>
					{% endif %}
				{% endscheduleday %}
			{% endschedulerow %}
		</tr>
		<tr>
			{% schedulerow %}
			{% if day.comments %}
				<td colspan="{{ shifts|length }}">
					{{ day.comments }}
				</td>
			{% endif %}
			{% endschedulerow %}
		</tr>
		{% endschedule %}
	</tbody>
</table>


<script>
jQuery(function($) {

	$schedule = $('#station-schedule');
	$schedule.on('click', '[tfs-availability]', function(e) {
		$(this).find('form').submit();
	}).on('submit', '[tfs-availability] form', function(e) {
		e.preventDefault();
		var $form = $(this);
		var $availability = $form.parents('[tfs-availability]').first();
		$.ajax({
			url: $form.attr('action'),
			method: 'POST',
			success: function(data) {
				$(data).insertAfter($availability);
				$availability.remove();
			},
		});
	});

})
</script>

{% endblock %}
