{% extends "base.html" %}

{% load common_form_tags %}

{% block title %}Log in{% endblock %}

{% block media %}
	{% load media_tags %}
	{% add_media form.media %}
	{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url "login" %}"> Account </a></li>
<li><a href="{% url "login" %}"> Login </a></li>
{% endblock %}

{% block content %}
<h1>Log in</h1>
<div class="col-sm-4 col-sm-offset-4">
    <form action="." method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %} <p>{{ error }}</p> {% endfor %}
        </div>
        {% endif %}

        {{ form.username|add_class:'form-control' }}
        {{ form.password|add_class:'form-control' }}
        <input type="hidden" name="next" value="{{ next }}">

        <button button="primary">Log in</button>
    </form>
    <a href="{% url "password-reset" %}">Reset your password</a>
</div>
{% endblock %}
