{% extends "base.html" %}

{% load common_form_tags %}

{% block title %}Reset your password{% endblock %}

{% block media %}
	{% load media_tags %}
	{% add_media form.media %}
	{{ block.super }}
{% endblock %}

{% block header %}
	<div class="page-header"><h1>Reset your password</h1></div>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url "login" %}"> Account </a></li>
<li><a href="{% url "password-reset" %}"> Reset password </a></li>
{% endblock %}

{% block content %}
<div class="row"><div class="col-sm-4 col-sm-offset-4">
	<form action="." method="post">
		{% csrf_token %}

		{% if form.non_field_errors %}
		<div class="alert alert-danger">{% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}</div>
		{% endif %}

		{% field form.new_password1 %}
		{% field form.new_password2 %}

		<div class="btn-row">
			<button class="btn btn__primary">Set password</button>
		</div>
	</form>
</div></div>
{% endblock %}
