{% extends "schedules/set/base.html" %}

{% load %}

{% block title %}Set schedule for {{ station.name }}{% endblock %}

{% block page-header %}
	{{ block.super }}
	<h2>Set schedule</h2>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">Dashboard</a></li>
<li><a href="{% url "station-dashboard" station_pk=station.pk %}">{{ station.name }}</a></li>
<li><a href="{% url "set-schedule" station_pk=station.pk %}">Set schedule</a></li>
{% endblock %}

{% block content_station %}

<table table>
	<thead>
		<tr>
			<th colspan="2">Name</th>
			<th>Rank</th>
			<th>Qualifications</th>
		</tr>
	</thead>
	<tbody>
		{% for person in people %}
		<tr>
			<td>{{ person.name }}</td>
			<td>
				<a href="{% url "set-schedule-for-person" station_pk=station.pk person_pk=person.pk %}" button="primary">
					Go </a>
			</td>
			<td>{{ person.rank }}</td>
			<td>{% include "people/includes/qualifications.html" with qualifications=person.qualifications.all %}</td>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
