{% extends "schedules/set/base.html" %}

{% load common_form_tags people_tags media_tags %}

{% block title %}Set schedule for {{ station.name }} | {{ week_start|date:"l, d/m/Y" }} - {{ date_end|date:"l, d/m/Y" }}{% endblock %}

{% block media %}{{ block.super }}{% media %}
	{% add_js "schedules/js/set/times.js" %}
{% endmedia %}{% endblock %}

{% block page-header %}
	{{ block.super }}
	<h2>
		{{ person }}
		<small>
			{{ person.rank }}
			{% qualification_badges person.qualifications.all %}
		</small>
	</h2>
{% endblock %}
{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">Dashboard</a></li>
<li><a href="{% url "station-dashboard" station_pk=station.pk %}">{{ station.name }}</a></li>
<li><a href="{% url "set-schedule" station_pk=station.pk %}">Set schedule</a></li>
<li><a href="{% url "set-schedule-for-person" station_pk=station.pk person_pk=person.pk %}">{{ person.name }}</a></li>
{% endblock %}

{% block content_station %}

<h3>
{{ week_start|date:"l, d/m/Y" }} - {{ date_end|date:"d/m/Y" }}
</h3>
<nav class="pager">
	<a href="?week_start={{ previous_week.isoformat }}">&larr; {{ previous_week }}</a> /
	<a href="?week_start={{ next_week.isoformat }}">{{ next_week }} &rarr;</a>
</nav>

<dl class="dl-horizontal">
	{% for phone_number in person.phone_numbers.all %}
	<dt>{{ phone_number.type }}</dt>
	<dd>{{ phone_number.number }}</dd>
	{% endfor %}
</dl>

<form action="." method="post" role="form">{% csrf_token %}
	<table table="striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Times</th>
				<th>Availability</th>
				<th>Comments</th>
			</tr>
		</thead>
		<tbody>
			{% for form in day_forms %}
				<tr data-availability-row>
					<th>{{ form.day|date:"D, jS M" }}{{ form.errors }}</th>
					<td>
						<label button="{% if form.is_all_day %}selected{% endif %} good" data-all-day>
							All day
						</label>
						{% for checkbox in form.shifts %}
							<label button="{% if checkbox.choice_value in checkbox.value %}selected{% endif %} checkbox" shift>
								{{ checkbox.tag }} {{ checkbox.choice_label }}
							</label>
						{% endfor %}
						<label button="{% if form.is_unavailable %}selected{% endif %} checkbox evil" data-unavailable>{{ form.unavailable }} Unavailable</label>
					</td>
					<td>{{ form.availability|add_class:'form-control'|data:'availability' }}</td>
					<td>{{ form.comments|add_class:'form-control textarea-grow' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="form-group">
		<button button="primary l" type="submit">Save</button>
		{% if next_person %}
			<button button="l" type="submit" name='next-action' value='next-person'>Save and next person</button>
		{% endif %}
	</div>
</form>

<script language="javascript" type="text/javascript">
$(function() {
	TFS.schedule_set_times({
		available: '{{ available_status }}',
		empty: '{{ day_forms.0.EMPTY }}'
	});
});
</script>

{% endblock %}
