// A full-width container, not limited on large screens
*, *::before, *::after {
	box-sizing: border-box;
}

$border: 1px solid #bbb;

@function variant($name, $base, $active: darken($base, 10%), $border: $active, $selected: darken($base, 20%), $alias: ()) {
	@return (
		name: $name,
		base: $base,
		active: $active,
		border: $border,
		selected: $selected,
		alias: join($name, $alias),
	);
}

$neutral: variant('neutral', #ddd);
$primary: variant('primary', #9dd);
$good: variant('good', #ada, $alias: ('create', 'change'));
$warn: variant('warn', #dd9);
$evil: variant('evil', #daa, $alias: 'remove');


$color-variants: $neutral, $primary, $good, $warn, $evil;
$default-variant: $neutral;

$spacing-rythm: 1rem;


@mixin standard-margin($multiple: 1) {
	margin-top: $spacing-rythm * $multiple;
	margin-bottom: $spacing-rythm * $multiple;
}


html {
	font-family: sans-serif;
}

.container-full-width {
	max-width: none;
}

[table] {
	border-collapse: collapse;
	td, th {
		padding: 0.2rem 1rem;
	}
	td {
		border-bottom: 1px solid #bbb;
		border-top: 1px solid #bbb;
	}
	th {
		padding: 0.2rem 1rem;
		white-space: nowrap;
		background-color: #ddd;
		border: 1px solid #bbb;
		font-weight: normal;
	}

	&[table~="100"] {
		width: 100%;
	}
}

a {
	color: red;
	text-decoration: none;
}
