[button] {
	display: inline-block;
	padding: 0.2rem 0.5rem;

	border: 1px solid;
	outline: none;
	color: black;

	font-size: 1rem;
	line-height: 1.2rem;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


	&:active { outline: none; }
	&[button~="selected"] {
		box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
	}
	&[button~="l"] { padding: 0.5rem 1rem; }
	&[button~="xl"] { padding: 0.5rem 1rem; font-size: 1.5em; }

	@mixin variant($variant) {
		border-color: map-get($variant, border);
		background-color: map-get($variant, base);
		&:active, &[button~="selected"]:active {
			background-color: map-get($variant, active);
		}
		&[button~="selected"] {
			background-color: map-get($variant, selected);
		}
	}

	@include variant($neutral);
	@each $variant in $color-variants {
		$name: map-get($variant, name);
		$alias: map-get($variant, name);
		$selector: ();
		@each $name in map-get($variant, "alias") {
			$selector: append($selector, "&[button~=#{$name}],");
		}
		#{$selector} {
			@include variant($variant);
		}

	}

	&::-moz-focus-inner {
		border: 0;
	}
	&[button~="checkbox"] input[type=checkbox] {
		display: none;
	}

}

[tfs-badge] {
	display: inline-block;
	padding: 0 0.5rem;

	border: none;
	outline: none;
	color: black;

	border-radius: 10px;
	background-color: map-get($neutral, base);
}
