// Forms in tables should not have padding or margin
.table-form .form-group {
	margin-bottom: 0px;
	padding-bottom: 0px;
}


textarea.textarea-grow {
	height: 2.4em;
	transition: all 0.2s ease-in-out;
	position: relative;
	z-index: 1;
	&:focus {
		height: 15em;
		margin-bottom: (2.4em - 15em);
		z-index: 10;
	}
}

.form-control {
	display: inline-block;
	padding: 0.2rem 0.5rem;

	border: 1px solid #bbb;
	border-radius: 4px;
	color: black;
	background-color: white;

	font-size: 1rem;
	line-height: 1.2rem;
}

input[type=checkbox] {
	margin: 0px;
	vertical-align: middle;
}

[hidden], .hidden { display: none !important; }

.control {
	@include standard-margin();

	&--row {
		display: flex;
		align-items: flex-start;
	}

	&--label {
		width: 200px;
		text-align: right;

		border: 1px solid transparent;
		padding: 0.2rem 0;
		padding-right: 16px;
		padding-right: 1rem;
		font-size: 1rem;
		line-height: 1.2rem;
	}
	&--input {
	}

	&--error {
		background-color: map-get($evil, 'base');
		border: 1px solid map-get($evil, 'border');
		border-radius: 4px;
		p {
			margin: 0;
		}
	}
}

.btn-row {
	padding-left: 200px;
	@include standard-margin();
}
