[tfs-alert] {
	display: block;
	padding: 0.2rem 0.5rem;

	border: 1px solid;
	outline: none;
	color: black;

	font-size: 1em;
	line-height: 1em;
	border-radius: 4px;
	text-decoration: none;

	@mixin variant($variant) {
		border-color: map-get($variant, border);
		background-color: map-get($variant, base);
		&:active, &[button~="selected"]:active {
			background-color: map-get($variant, active);
		}
		&[button~="selected"] {
			background-color: map-get($variant, selected);
		}
	}

	@include variant($neutral);
	@each $variant in $color-variants {
		&[tfs-alert~=#{map-get($variant, name)}] {
			@include variant($variant);
		}
	}
}
