header {
	display: flex;
	background-color: map-get($neutral, base);
	border-radius: 5px;
	padding: 0.2rem 0.5rem;
	> [column=left] {
		text-align: left;
		flex: 1;
	}
	> [column=right] {
		text-align: right;
		flex: 1;
	}
}
[tfs-breadcrumbs] {
	margin: 0px;
	padding: 0px;

	li {
		list-style-type: none;
		display: inline;
		margin: 0px;
		padding: 0px;
		&::after {
			content: ' / ';
			display: inline;
		}
		&:last-child {
			a {
				color: black;
			}
			&::after {
				content: none;
			}
		}
	}
}
