{% extends "people/base.html" %}

{% block title %}TFS Roster{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "dashboard" %}">Dashboard</a></li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Stations</h1>
    </div>
    <ul class="nav nav-pills nav-stacked">
        {% for station in station_list %}
            <li><a href="{% url "station-dashboard" station_pk=station.pk %}">{{ station.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
