{% extends "schedules/base.html" %}

{% block title %}{{ station.name }}{% endblock %}

{% block breadcrumbs %}
	<li><a href="{% url "dashboard" %}"> Dashboard </a></li>
    <li><a href="{% url "station-dashboard" station_pk=station.pk %}"> {{ station.name }} </a></li>
{% endblock %}

{% block content %}
	<div class='page-header'>
		{% block page-header %}
			<h1>{{ station.name }}</h1>
		{% endblock %}
	</div>
	{% block content_station %} {% endblock %}
{% endblock %}
