{% extends "people/station_base.html" %}

{% block title %}{{ station.name }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "station-manage" station_pk=station.pk %}">Manage</a></li>
{% endblock %}

{% block content_station %}
<p>
<a href="{% url "person-create" station_pk=station.pk %}" button="create">
	Create person
</a>
</p>
<table table>
	<thead>
		<tr>
			<th colspan="2">Name</th>
			<th>Rank</th>
			<th>Qualifications</th>
		</tr>
	</thead>
	<tbody>
		{% for person in people %}
		<tr>
			<td>{{ person.name }}</td>
			<td>
				<a href="{% url "person-change" station_pk=station.pk person_pk=person.pk %}" button="change">
					Change </a>
				<a href="{% url "person-remove" station_pk=station.pk person_pk=person.pk %}" button="remove">
					Remove </a>
			</td>
			<td>{{ person.rank }}</td>
			<td>{% include "people/includes/qualifications.html" with qualifications=person.qualifications.all %}</td>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
