{% extends "people/station_base.html" %}

{% load perm_tags %}

{% block title %}{{ station.name }}{% endblock %}

{% block content_station %}
    {% if user|can_manage_station:station %}
        <nav><ul>
            <li><a href="{% url "set-schedule" station_pk=station.pk %}">Enter times</a></li>
            <li><a href="{% url "view-schedule" station_pk=station.pk %}">View/allocate shifts</a></li>
            <li><a href="{% url "station-manage" station_pk=station.pk %}">Manage people</a></li>
        </ul></nav>
    {% else %}
        <nav><ul>
            <li><a href="{#% url "set-own-schedule" %#}">Enter my times</a></li>
            <li><a href="{#% url "view-own-schedule" %#}">View shifts</a></li>
        </ul></nav>
    {% endif %}
{% endblock %}
