{% extends "people/person/form.html" %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "person-change" station_pk=station.pk person_pk=person.pk %}">Change {{ person.name }}</a></li>
{% endblock %}

{% block page_title %}Change {{ person.name }}{% endblock %}

{% block button %}
    <input type="submit" value="Change" button="primary l">
{% endblock %}
