{% extends "people/person/form.html" %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "person-create" station_pk=station.pk %}"> Create person </a></li>
{% endblock %}

{% block page_title %}Add person{% endblock %}

{% block button %}
    <input type="submit" value="Create" button="primary l">
{% endblock %}
