{% extends "people/station_base.html" %}

{% load common_form_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "station-manage" station_pk=station.pk %}"> Manage </a></li>
{% endblock %}

{% block content_station %}
    <h2>{% block page_title %}{% endblock %}</h2>
    <form action="" method="post">{% csrf_token %}
        {% block content_form %}
            {% field form.name %}
            {% field form.rank %}
            {% field form.qualifications %}
            <hr>
            <section>
                {% field form.has_login %}
                {% field form.user_form.email %}
                {% field form.user_form.manager %}
            </section>
            {% block button %}
                <input type="submit" value="Submit" button="primary l">
            {% endblock %}
        {% endblock %}
    </form>
{% endblock %}
