{% extends "people/person/form.html" %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "person-change" station_pk=station.pk person_pk=person.pk %}">Remove {{ person.name }}</a></li>
{% endblock %}

{% block page_title %}Remove {{ person.name }}{% endblock %}

{% block content_form %}
    <input type="submit" value="Remove" button="primary l">
{% endblock %}
