*, *::before, *::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif; }

.container-full-width {
  max-width: none; }

[table] {
  border-collapse: collapse; }
  [table] td, [table] th {
    padding: 0.2rem 1rem; }
  [table] td {
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb; }
  [table] th {
    padding: 0.2rem 1rem;
    white-space: nowrap;
    background-color: #ddd;
    border: 1px solid #bbb;
    font-weight: normal; }
  [table][table~="100"] {
    width: 100%; }

a {
  color: red;
  text-decoration: none; }

[button] {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid;
  outline: none;
  color: black;
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-color: #c4c4c4;
  background-color: #ddd; }
  [button]:active {
    outline: none; }
  [button][button~="selected"] {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3); }
  [button][button~="l"] {
    padding: 0.5rem 1rem; }
  [button][button~="xl"] {
    padding: 0.5rem 1rem;
    font-size: 1.5em; }
  [button]:active, [button][button~="selected"]:active {
    background-color: #c4c4c4; }
  [button][button~="selected"] {
    background-color: #aaaaaa; }
  [button][button~=neutral] {
    border-color: #c4c4c4;
    background-color: #ddd; }
    [button][button~=neutral]:active, [button][button~=neutral][button~="selected"]:active {
      background-color: #c4c4c4; }
    [button][button~=neutral][button~="selected"] {
      background-color: #aaaaaa; }
  [button][button~=primary] {
    border-color: #73d0d0;
    background-color: #9dd; }
    [button][button~=primary]:active, [button][button~=primary][button~="selected"]:active {
      background-color: #73d0d0; }
    [button][button~=primary][button~="selected"] {
      background-color: #4dc4c4; }
  [button][button~=good], [button][button~=create], [button][button~=change] {
    border-color: #86ce86;
    background-color: #ada; }
    [button][button~=good]:active, [button][button~=good][button~="selected"]:active, [button][button~=create]:active, [button][button~=create][button~="selected"]:active, [button][button~=change]:active, [button][button~=change][button~="selected"]:active {
      background-color: #86ce86; }
    [button][button~=good][button~="selected"], [button][button~=create][button~="selected"], [button][button~=change][button~="selected"] {
      background-color: #61c061; }
  [button][button~=warn] {
    border-color: #d0d073;
    background-color: #dd9; }
    [button][button~=warn]:active, [button][button~=warn][button~="selected"]:active {
      background-color: #d0d073; }
    [button][button~=warn][button~="selected"] {
      background-color: #c4c44d; }
  [button][button~=evil], [button][button~=remove] {
    border-color: #ce8686;
    background-color: #daa; }
    [button][button~=evil]:active, [button][button~=evil][button~="selected"]:active, [button][button~=remove]:active, [button][button~=remove][button~="selected"]:active {
      background-color: #ce8686; }
    [button][button~=evil][button~="selected"], [button][button~=remove][button~="selected"] {
      background-color: #c06161; }
  [button]::-moz-focus-inner {
    border: 0; }
  [button][button~="checkbox"] input[type=checkbox] {
    display: none; }

[tfs-badge] {
  display: inline-block;
  padding: 0 0.5rem;
  border: none;
  outline: none;
  color: black;
  border-radius: 10px;
  background-color: #ddd; }

.table-form .form-group {
  margin-bottom: 0px;
  padding-bottom: 0px; }

textarea.textarea-grow {
  height: 2.4em;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 1; }
  textarea.textarea-grow:focus {
    height: 15em;
    margin-bottom: -12.6em;
    z-index: 10; }

.form-control {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: black;
  background-color: white;
  font-size: 1rem;
  line-height: 1.2rem; }

input[type=checkbox] {
  margin: 0px;
  vertical-align: middle; }

[hidden], .hidden {
  display: none !important; }

.control {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .control--row {
    display: flex;
    align-items: flex-start; }
  .control--label {
    width: 200px;
    text-align: right;
    border: 1px solid transparent;
    padding: 0.2rem 0;
    padding-right: 16px;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.2rem; }
  .control--error {
    background-color: #daa;
    border: 1px solid #ce8686;
    border-radius: 4px; }
    .control--error p {
      margin: 0; }

.btn-row {
  padding-left: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

table[tfs-schedule] {
  table-layout: fixed; }
  table[tfs-schedule] .person {
    width: 150px;
    white-space: nowrap; }
    table[tfs-schedule] .person .pull-right {
      margin-right: -1.5em; }
  table[tfs-schedule] .table-fix {
    position: relative; }
  table[tfs-schedule] .contact-details {
    padding: 0.2rem 0.5rem;
    display: block;
    position: absolute;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    left: -1px;
    top: 100%;
    width: 10rem;
    background-color: white;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border: 1px solid #ccc;
    font-weight: normal;
    pointer-events: none; }
    .oldie table[tfs-schedule] .contact-details {
      display: none; }
  table[tfs-schedule] th:hover .contact-details {
    display: block;
    opacity: 1;
    pointer-events: auto; }
  table[tfs-schedule] .contact-details dl {
    margin: 0px; }
  table[tfs-schedule] th[tfs-schedule~="person"] {
    text-align: left; }
  table[tfs-schedule] th[tfs-schedule~="shift"], table[tfs-schedule] [tfs-availability] {
    width: 7rem;
    max-width: 7rem;
    min-width: 7rem;
    overflow: hidden;
    white-space: nowrap; }
    table[tfs-schedule] th[tfs-schedule~="shift"] span, table[tfs-schedule] [tfs-availability] span {
      text-overflow: clip;
      overflow: hidden; }
  table[tfs-schedule] colgroup[tfs-schedule="day"] {
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4; }
  table[tfs-schedule] [tfs-status~="unknown"] {
    background-color: #c4c4c4; }
  table[tfs-schedule] [tfs-status~="unavailable"] {
    background-color: #daa; }
  table[tfs-schedule] [tfs-status~="rostered"] {
    background-color: #9dd; }
  table[tfs-schedule] [tfs-availability] {
    cursor: pointer; }
  table[tfs-schedule] [tfs-status~="available"][tfs-availability~="warn"] {
    background-color: #dd9; }
  table[tfs-schedule] [tfs-status~="available"][tfs-availability~="good"] {
    background-color: #ada; }

header {
  display: flex;
  background-color: #ddd;
  border-radius: 5px;
  padding: 0.2rem 0.5rem; }
  header > [column=left] {
    text-align: left;
    flex: 1; }
  header > [column=right] {
    text-align: right;
    flex: 1; }

[tfs-breadcrumbs] {
  margin: 0px;
  padding: 0px; }
  [tfs-breadcrumbs] li {
    list-style-type: none;
    display: inline;
    margin: 0px;
    padding: 0px; }
    [tfs-breadcrumbs] li::after {
      content: ' / ';
      display: inline; }
    [tfs-breadcrumbs] li:last-child a {
      color: black; }
    [tfs-breadcrumbs] li:last-child::after {
      content: none; }

[tfs-alert] {
  display: block;
  padding: 0.2rem 0.5rem;
  border: 1px solid;
  outline: none;
  color: black;
  font-size: 1em;
  line-height: 1em;
  border-radius: 4px;
  text-decoration: none;
  border-color: #c4c4c4;
  background-color: #ddd; }
  [tfs-alert]:active, [tfs-alert][button~="selected"]:active {
    background-color: #c4c4c4; }
  [tfs-alert][button~="selected"] {
    background-color: #aaaaaa; }
  [tfs-alert][tfs-alert~=neutral] {
    border-color: #c4c4c4;
    background-color: #ddd; }
    [tfs-alert][tfs-alert~=neutral]:active, [tfs-alert][tfs-alert~=neutral][button~="selected"]:active {
      background-color: #c4c4c4; }
    [tfs-alert][tfs-alert~=neutral][button~="selected"] {
      background-color: #aaaaaa; }
  [tfs-alert][tfs-alert~=primary] {
    border-color: #73d0d0;
    background-color: #9dd; }
    [tfs-alert][tfs-alert~=primary]:active, [tfs-alert][tfs-alert~=primary][button~="selected"]:active {
      background-color: #73d0d0; }
    [tfs-alert][tfs-alert~=primary][button~="selected"] {
      background-color: #4dc4c4; }
  [tfs-alert][tfs-alert~=good] {
    border-color: #86ce86;
    background-color: #ada; }
    [tfs-alert][tfs-alert~=good]:active, [tfs-alert][tfs-alert~=good][button~="selected"]:active {
      background-color: #86ce86; }
    [tfs-alert][tfs-alert~=good][button~="selected"] {
      background-color: #61c061; }
  [tfs-alert][tfs-alert~=warn] {
    border-color: #d0d073;
    background-color: #dd9; }
    [tfs-alert][tfs-alert~=warn]:active, [tfs-alert][tfs-alert~=warn][button~="selected"]:active {
      background-color: #d0d073; }
    [tfs-alert][tfs-alert~=warn][button~="selected"] {
      background-color: #c4c44d; }
  [tfs-alert][tfs-alert~=evil] {
    border-color: #ce8686;
    background-color: #daa; }
    [tfs-alert][tfs-alert~=evil]:active, [tfs-alert][tfs-alert~=evil][button~="selected"]:active {
      background-color: #ce8686; }
    [tfs-alert][tfs-alert~=evil][button~="selected"] {
      background-color: #c06161; }
