{% load schedule_tags common_tags %}

<td tfs-shift="{{ shift }}"
    tfs-status="{% if availability %}{{ availability.get_status_class }}{% else %}unavailable{% endif %}"
    {% if availability %}tfs-availability='{{ availability.availability }} {{ availability.get_availability_class }}'{% endif %}
    {% if not day.comments %}rowspan="2"{% endif %}>
    {% if availability %}
        <form action="{% url "toggle-rostered" station_pk=station.pk person_pk=person.pk availability_pk=availability.pk %}" method="post">
            <span> {{ availability.get_status_display }} </span>
        </form>
    {% endif %}
</td>
