{% load common_form_tags %}
<div class="control">
    {% if errors %}
        <div class="control--error">
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="control--row">
        <label for="{{ field.id_for_label }}" class="control--label">
            {{ field.label }}:
        </label>
        {{ field|add_class:"control--input form-control" }}
    </div>
</div>
